{"filter":false,"title":".gitignore","tooltip":"/.gitignore","ace":{"folds":[],"scrolltop":2956,"scrollleft":0,"selection":{"start":{"row":16,"column":5},"end":{"row":16,"column":5},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"e6d0318ac3d31ad9a2650d8a8538077390fc84f7","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1533562123895}